---
import "../styles/global.css"
import "bootstrap/dist/css/bootstrap.min.css";
---

<div class="navbar bg-body-tertiary" style="height: 60px">
  <div class="container justify-content-center my-2">
    <span class="mx-1 navbar-item" >
        <a href="/" class="text-reset text-decoration-none">
            Home
        </a>
    </span>
    <span class="mx-1">|</span>
    <span class="mx-1 navbar-item" >
        <a href="/aboutus-en" class="text-reset text-decoration-none">
            About
        </a>
    </span>
    <span class="mx-1">|</span>
    <span class="mx-1 navbar-item">
        <a href="/termofservice-en" class="text-reset text-decoration-none">
            Terms
        </a>
    </span>
    <span class="mx-1">|</span>
    <span class="mx-1 navbar-item">
        <a href="/privacypolicy-en" class="text-reset text-decoration-none">
            Privacy
        </a>
    </span>
  </div>
</div>
